<nav class="navbar ">
  <div class="navbar-brand">
    <a class="navbar-item" >
      fpck DashBordtest
    </a>
    <div class="navbar-burger burger" 
      @click='showNav = !showNav'
      :class="{'is-active': showNav}" 
      >
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  <div :class="{'is-active': showNav}"
    class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="./#/home">
        Home
      </a>
      <a class="navbar-item" href="./#/about">
        About
      </a>
      <a class="navbar-item" href="./#/blog">
        Blog
      </a>
      <a class="navbar-item" href="./#/blog">
       Profile 
      </a> 
    </div>
    <div class="navbar-end">
      <div class="breadcrumb" aria-label="breadcrumbs">
        <ul>
          <li><a href="#">日経平均</a></li>
          <li><a href="#">TOPIX</a></li>
          <li><a href="#">その他</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>
