<nav class="navbar ">
  <div class="navbar-brand">
    <a class="navbar-item" >
      fpck DashBordtest
    </a>
    <div class="navbar-burger burger" data-target="navMenubd-example">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  <div id="navMenubd-example" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="https://bulma.io/">
        HOME
      </a>
    </div>
    <div class="navbar-end">
      <div class="breadcrumb" aria-label="breadcrumbs">
        <ul>
          <li><a href="#">日経平均</a></li>
          <li><a href="#">TOPIX</a></li>
          <li><a href="#">その他</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>
