<nav class="navbar ">
  <div class="navbar-brand">
    <a class="navbar-item" >
      fpck DashBordtest
    </a>
    <div class="navbar-burger burger" data-target="navMenubd-example">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  <div id="navMenubd-example" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="./#/home">
        Home
      </a>
      <a class="navbar-item" href="./#/about">
        About
      </a>
    </div>
    <div class="navbar-end">
    </div>
  </div>
</nav>
